.DS_Store
*/.DS_Store
.DS_Store
data/202507-citibike-tripdata_1.csv
data/202507-citibike-tripdata_2.csv
data/202507-citibike-tripdata_3.csv
data/202507-citibike-tripdata_4.csv
data/202507-citibike-tripdata_5.csv
